﻿<div class="ui left visible sidebar inverted vertical menu">
    <a class="item">
        1
    </a>
    <a class="item">
        2
    </a>
</div>
<div class="pusher">
    <div id="content">
        Whatapp
    </div>
</div>