﻿<div class="ui container">
    <div class="ui stackable three column centered grid" style="padding-top:15px;">
        {{#users}}
        <div class="column">
            <div class="ui card hvr-float">
                <div class="image">
                    <img class="userImage" src="http://media.fanarito.duckdns.org/web/css/images/logindefault.png" alt="dummyUser" />
                </div>
                <div class="content">
                    <a class="header name">{{attributes.Name}}</a>
                </div>
                <div class="ui transparent action input" style="display:none;width:100%;">
                    <input placeholder="Password" type="password" />
                    <button class="ui green icon button login" data-username="{{attributes.Name}}"><i class="chevron right icon"></i></button>
                </div>
            </div>
        </div>
        {{/users}}
    </div>
</div>